@page "/fetchdata"
@using BlazorQuickGridApp.Shared
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient Http

<h3>Weather Forecast (QuickGrid)</h3>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid TItem="WeatherForecast" Items="forecasts">
        <PropertyColumn Property="@(forecast => forecast.Date)" Title="Date" />
        <PropertyColumn Property="@(forecast => forecast.TemperatureC)" Title="Temp (C)" />
        <PropertyColumn Property="@(forecast => forecast.TemperatureF)" Title="Temp (F)" />
        <PropertyColumn Property="@(forecast => forecast.Summary)" Title="Summary" />
    </QuickGrid>
}

@code {
    private IQueryable<WeatherForecast>? forecasts;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast");
        forecasts = result?.AsQueryable();
    }
}
